.header {
	background: rgb(0,0,0,0.6);
	opacity: 1;
	position: fixed;
	margin: 0;
	padding: 0 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.logo-header {
	float: left;
	padding: 10px 0 0;
}

.list-header #menu {
	float: right;
	margin-top: 20px;
	margin-right: 0px;
}

#menu > li {
	display: inline-block;
	vertical-align: text-top;
	position: relative;
}

#menu > li > a {
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	text-transform: capitalize;
	line-height: 1;
	height: auto;
	padding-right: 15px;
	margin-right: 15px;
}

a.ahover:hover {
	color: #f00;
	opacity: 0.5;
}

.list-bottom {
	float: right;
	
}

.search-box {
	float: right;
	position: relative;
	margin-top: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

.list-bottom ul li {
	list-style-type: none;
	display: inline-block;
}

.new-menu #menu {
	float: right;
    margin-top: 10px;
    margin-right: 15px;
}